:root {
  --color-blue: #17c2ec;
  --color-black: #000000;
  --color-dark-blue: #0b153c;
  --color-btn--primary: white;
  --color-btn--inactive: rgba(196, 196, 196, 0.1);
  --color-link--active: #ffffff;
  --color-link--inactive: rgba(255, 255, 255, 50%);
  --color-text--primary: #ffffff;
  --color-text--secondary: rgba(255, 255, 255, 0.7);
}

@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  color: var(--color-text--secondary);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

html {
  font-size: 16px;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 20px;
  height: 69px;

  background-color: var(--color-btn--inactive);
  color: var(--color-btn--primary);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}

.btn-primary {
  background: var(--color-blue);
  color: var(--color-text--primary);
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.page * {
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}

/* .page {
  background-color:rgba(11,19,67,255);
} */

.page__wrapper {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

.page__header {
  padding: 0 70px;
  position: absolute;
  top: 41px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo,
.footer__logo {
  height: 44px;
  align-self: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  position: relative;

  color: var(--color-text--primary);
}

.header__logo::before,
.footer__logo::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100px;

  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  flex: 1;
}

.nav-bar__list {
  list-style-type: none;
  display: flex;
  gap: min(2vw, 25px);
  justify-content: center;
  flex: 1;
}

.nav-bar__item {
  display: inline-block;
  font-weight: 500;
  line-height: 1.81;

  color: var(--color-link--inactive);
}

.nav-link {
  color: var(--color-link--inactive);
  font-style: normal;
  font-weight: 500;
}

.nav-link--active {
  font-weight: 700;
  color: var(--color-link--active);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page__header .nav-link--active:after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--color-blue);
  border-radius: 50%;
}

.check-status-btn {
  margin-left: 31px;

  width: 219px;
  height: 69px;

  background: var(--color-btn--inactive);
  border-radius: 20px;

  font-weight: 700;
  font-size: 1.5rem;
  padding: 20px 26px;
  text-align: center;

  color: var(--color-blue);
  border: none;
}

.promo {
  padding-top: 110px;
  background: url("./img/home-background.jpg") center / cover no-repeat;
  /* height: 1024px; */
}

.promo__wrapper {
  margin-top: 100px;
  display: grid;
  grid-template-columns: minmax(420px, 603px) 622px;
  padding: 0 70px;
  column-gap: min(5%, 20px);
}

.promo__content-wrapper {
  max-width: 603px;
  /* width: 100%; */
}

.promo__slogan {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;

  color: var(--color-blue);
}

.promo__header {
  margin-top: 40px;
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.23;
  color: var(--color-text--primary);
}

.promo__link,
.promo__link:visited {
  color: var(--color-blue);
}

.promo__information {
  margin-top: 50px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;

  color: rgba(255, 255, 255, 0.7);

  color: var(--color-text--secondary);
}

.promo__buttons-block {
  margin-top: 51px;
  display: flex;
  gap: 20px;
}

.promo__buttons-block .btn {
  width: 200px;
  height: 69px;
}

.promo__help-centre-btn {
  color: var(--color-text--primary);
  background: rgba(196, 196, 196, 0.1);

  border: 2px solid #17c2ec;
  border-radius: 20px;

  width: 200px;
  height: 69px;

  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}

.promo__visual-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  padding-bottom: 0px;
  /* height: 617px; */
  /* width: 100%; */
  max-width: 622px;
}

.promo__image {
  display: block;
  margin: 0 auto;
  width: 532px;
  /* background: red; */
}

.promo__aside-image-wrapper {
  position: absolute;
  bottom: 50%;
  transform: translate(-50%, 50%);
  height: 100px;
  width: 100px;

  background: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo__aside-image-wrapper--left {
  /* left: padding - padding; */
  left: calc(110px - 70px);
}

.promo__aside-image-wrapper--right {
  /* right: padding - padding + image__width */
  right: calc(110px - 70px - 100px);
}

.specialists {
  height: 100px;
  bottom: 0;
  left: calc(110px - 70px);
  transform: translate(-50px, 46px);
  width: 374px;
  position: absolute;
  padding: 20px;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 20px;
}

.specialists__list {
  display: flex;
}

.specialists__item--image:not(:first-of-type) {
  margin-left: -7px;
}

.specialists__item--info {
  margin-left: 20px;
  font-weight: 700;
  font-size: 1.5rem;

  color: var(--color-blue);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.specialists__count {
  color: var(--color-text--primary);
}

.specialists__photo {
  border-radius: 10px;
}

.promo__schedule {
  grid-row: 2/3;
  grid-column: 1/3;
  margin-top: 31px;
  position: relative;
}

.schedule__title {
  font-weight: 700;
  font-size: 1.5rem;

  color: var(--color-text--primary);
  position: absolute;
  top: 22px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.promo__schedule-wrapper {
  margin-top: 92px;
  height: 160px;
  background: rgba(196, 196, 196, 0.1);
  border-radius: 20px 20px 0px 0px;
  padding: 46px 40px;

  box-shadow: rgba(196, 196, 196, 0.05) 0 -10px 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.schedule__form {
  display: flex;
  align-items: flex-start;
  /* gap: 50px; */
  width: 100%;

  display: grid;
  grid-template-columns: auto auto auto auto;
}

.schedule__label {
  height: 58px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 20px;

  color: var(--color-link--inactive);
}

.promo .icon {
  height: 50px;
  width: 50px;
  background-color: var(--color-btn--inactive);
  padding: 10px;
  grid-row: 1/3;
  align-self: center;
  border-radius: 10px;
}

.input-substitution {
  color: var(--color-text--primary);
  font-weight: 700;
}

.schedule__submit-btn {
  margin-left: auto;
  width: 142px;
}

.vaccine-types {
  padding: 0 min(5%, 70px);
  height: 150px;
  max-width: 100%;
  padding: 10px 70px;
}

.vaccine-types__list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.vaccine-types__list-item {
  height: 100%;
  width: 100%;
}
.vaccine-types__image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.results {
  background: url(./img/home-background.jpg) center right;
  height: auto;
  padding: 62px 70px;
}

.results__wrapper {
  display: grid;

  background: rgba(196, 196, 196, 0.1);
  border-radius: 20px;

  padding-bottom: 31px;
}

.results__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding: 36px 93px;
  color: var(--color-text--primary);

  background: rgba(196, 196, 196, 0.05);
  border-radius: 20px 20px 0px 0px;
}

.results__form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 36px 93px;
}
.results-btn,
.results__input {
  border: 3px solid var(--color-blue);
  border-radius: 20px;

  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
}

.results__input {
  height: 69px;
  max-width: 450px;
  width: 50%;
  padding: 20px 25px;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  background-color: transparent;
  color: #ffffff;

  border-radius: 20px;
  border: 3px solid rgba(196, 196, 196, 0.15);
}

.results__input:focus {
  border: 3px solid #17c2ec;
  outline: none;
}

.results-btn {
  color: var(--color-blue);
  width: 172px;
}

.results__info {
  margin: 35px 93px 0;
}

.results__info-wrapper {
  background: rgba(196, 196, 196, 0.05);
  border-radius: 20px;
  padding: 20px 0;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: var(--color-blue);

  width: 100%;
  height: 70px;
}

.results__info-wrapper .results__link {
  color: var(--color-blue);
  text-decoration: underline;
  text-align: center;
}

.wgv {
  background: url(./img/home-background.jpg) center / cover no-repeat;
  padding: 58px 71px 80px;
  height: 795px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.wgv__title {
  display: flex;
  justify-content: space-between;
}

.wgv__header {
  width: 504px;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.62rem;

  color: #ffffff;
}
.wgv__description {
  width: 536px;
  text-align: left;

  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;

  color: rgba(255, 255, 255, 0.5);
}

.wgv__list {
  width: 100%;
  align-items: flex-end;
  display: grid;
  grid-template-columns: 0.64fr minmax(500px, 1fr);
  justify-content: space-between;
  gap: 75px;
}

.wgv__sublist {
  display: flex;
  justify-content: space-between;
  gap: 75px;
}

.wgv__list-item {
  width: 350px;
  height: 350px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  padding: 40px 40px 58px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wgv__list-item.wgv__list-item--primary {
  width: 448px;
  max-height: 498px;
  height: auto;
  justify-content: flex-start;
  padding: 40px 56px 74px 39px;

  background: rgba(196, 196, 196, 0.2);
  border-radius: 49.896px 149.688px 49.896px 49.896px;
  border: none;
}

.wgv__icon-wrapper {
  height: 70px;
  width: 70px;

  filter: drop-shadow(0px 2.79418px 2.79418px rgba(0, 0, 0, 0.1));

  background: rgba(196, 196, 196, 0.1);
  border-radius: 20.9563px;

  border: 3px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wgv__list-item--primary .wgv__icon-wrapper {
  width: 100px;
  height: 100px;

  background: rgba(196, 196, 196, 0.1);
  border-radius: 30px;
  border: none;
}

.wgv__icon {
  width: 50px;
  height: 50px;
}

.wgv__list-item--primary .wgv__icon {
  width: 70px;
  height: 70px;
}

.list-item__title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.81rem;
}

.list-item__title--primary {
  width: 290px;
  font-size: 24px;
  line-height: 29px;
  color: #17c2ec;
}

.list-item__description {
  margin-top: 30px;

  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.list-item__next {
  margin-top: 40px;
  display: flex;
  align-items: Center;
}

.wgv .wgv__readmore {
  font-weight: 700;
  font-size: 17.9626px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: Center;
  gap: 10px;
}

.wgv__readmore.wgv__readmore--primary {
  color: var(--color-blue);
}

.wgv__readmore:not(.wgv__readmore--primary) .wgv__readmore-icon {
  filter: grayscale(1);
}

.get-vaccine {
  height: 750px;
  color: black;
  padding: 0 72px 40px;
}

.get-vaccine__wrapper {
  width: 100%;
  display: grid;
  justify-content: space-between;

  grid-template-areas:
    "header visual"
    "content visual";
}

.get-vaccine__content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.get-vaccine__title {
  grid-area: header;
  width: 100%;
}

.get-vaccine__header {
  margin-top: 40px;
  max-width: 450px;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.23;
  text-align: center;
}

.get-vaccine__form {
  display: flex;
  flex-direction: column;
  max-width: 657px;
  font-size: 1.5rem;
  line-height: 1.2;
}

.get-vaccine__fullname-label,
.get-vaccine__phone-label {
  font-weight: 700;
}
.get-vaccine__fullname-label {
  margin-top: 40px;
}
.get-vaccine__phone-label {
  margin-top: 39px;
}
.get-vaccine__phone-description {
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.get-vaccine__phone-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 36px;
}

.get-vaccine__phone-input-container {
  margin-top: 20px;
  color: black;
}

.get-vaccine__phone-input{
  max-width: 400px;
}

.iti__country-name {
  color: black;
  font-size: 16px;
}

.invalid {
  border: 3px solid red !important;
}

.iti {
  width: 100%;
  max-width: 400px;
} 

.get-vaccine__verify-btn {
  width: 214px;
}

.get-vaccine__input {
  margin-top: 20px;
  display: block;
  width: 650px;
  height: 70px;
  background: rgba(11, 21, 60, 0.15);
  border-radius: 20px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 20px 30px;
}

.get-vaccine__input:focus {
  border: 3px solid #17c2ec;
}

.get-vaccine__submit-btn {
  margin-top: 40px;
  display: block;
  width: 100%;
}

.get-vaccine__check-status {
  margin: 40px auto;
  display: flex;
  width: 443px;
  justify-content: space-between;

  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.get-vaccine .get-vaccine__check-status-link {
  color: var(--color-blue);
}

.get-vaccine__visual {
  grid-area: visual;
  align-self: center;
  height: 550px;
  width: 380px;
  background: #0b153c;
  border-radius: 20px;
  border: 1px solid black;
}

.get-vaccine__visual-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: url("./img/get-vaccine__background.png") center bottom / contain
    no-repeat;
  padding: 40px 90px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.get-vaccine__visual-title {
  color: var(--color-text--primary);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.81;
  text-align: center;
}

.get-vaccine__img-covid {
  position: absolute;
  left: -21px;
  top: -25px;
}

.get-vaccine__verify-status-btn {
  padding: 13px 33px;
  font-size: 1.25rem;
}

.symptoms {
  height: 981px;
  background: url("./img/home-background.jpg") center / cover no-repeat;
}

.symptoms__wrapper {
  height: 100%;
  background: url("./img/symptoms-main.png") center bottom no-repeat;
  padding: 67px 45px 61px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.symptoms__subtitle {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.81rem;

  color: #ffffff;
}
.symptoms__title {
  margin-top: 20px;
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.69rem;

  color: #ffffff;
}

.symptoms .accent {
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.69rem;

  color: var(--color-blue);
}

.symptoms__description {
  margin-top: 40px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.81rem;
  text-align: center;

  color: var(--color-link--inactive);
  max-width: 952px;
}
.symptoms__list {
  margin-top: 179px;
  height: 465px;
  padding: 0 42px;

  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* column-gap: min(31%, 450px); */
  column-gap: clamp(160px, 30%, 400px);

  justify-content: center;
}

.symptoms__list-col {
  /* width: min(30vw, 330px); */
  width: 100%;
  max-width: clamp(300px, 100%, 360px);

  height: 70px;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 10px;

  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-right: 10px;
  padding-left: 85px;

  color: var(--color-blue);
  position: relative;
}

.symptoms__list-col:before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  left: -15px;
  top: -15px;
  background: url("./img/coronavirus-2996952-2495219.png") center / contain
    no-repeat;
}

.symptom_high-fever {
  /* max-width: 300px; */
  justify-self: end;
  grid-row: 1;
}
.symptom_loss-of-sense-of-taste {
  /* max-width: 360px; */
  justify-self: start;
  grid-row: 1;
}
.symptom_loss-sense-of-smell {
  /* max-width: 300px; */
  justify-self: center;
  grid-row: 2;
}
.symptom_difficulty-breathing {
  /* max-width: 300px; */
  justify-self: center;
  grid-row: 2;
}
.symptom_dry-cough {
  /* max-width: 300px; */
  justify-self: start;
  grid-row: 3;
}
.symptom_sore-throat {
  /* max-width: 300px; */
  justify-self: end;
  grid-row: 3;
}

.feedback {
  height: 934px;
  padding: 57px min(4.65%, 67px);
  background: url("./img/feedback-background.jpg") center / cover no-repeat,
    rgba(255, 255, 255, 0.5);
  position: relative;
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.81rem;
  text-align: center;

  color: var(--color-blue);
}

.feedback__subtitle {
  margin-top: 20px;
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.69rem;
  text-align: center;

  color: #000000;
}

.feedback__list-wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.feedback__description {
  align-self: center;
  max-width: 952px;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;

  color: rgba(0, 0, 0, 0.5);
}

.feedback__list {
  margin-top: -58px;
  display: flex;
  gap: min(4%, 53px);
}

.feedback__list-item {
  height: 480px;
  background: url(./img/feedback-ampoule.png) center / contain no-repeat;
  display: flex;
  justify-content: center;
  align-items: Center;
}

.feedback__card {
  margin-top: 100px;
}

.card {
  max-width: 400px;
  height: 250px;
  padding: 30px 33px 44px 33px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_blue {
  background: var(--color-blue);
}

.card_blue .card__name {
  color: #ffffff;
}

.card_blue .card__place,
.card_blue .card__text {
  color: rgba(255, 255, 255, 0.75);
}

.card__header {
  display: grid;
  grid-template-columns: 70px auto;
  column-gap: 21px;
  align-items: end;
}

.card__image-wrapper {
  grid-column: 1/2;
  grid-row: 1/3;
}

.card__image {
  border-radius: 20px;
}

.card__name {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.81rem;
  /* text-align: center; */

  color: #000000;
}

.card__place {
  margin-top: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  align-self: start;

  color: rgba(0, 0, 0, 0.5);
}

.card__text {
  margin-top: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: rgba(0, 0, 0, 0.6);
}

.card__text .accent {
  color: var(--color-blue);
}

.quote {
  padding: 18px;
  border-radius: 50px;
  background: rgba(196, 196, 196, 0.15);
  z-index: 10;
  bottom: -202px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;

  display: flex;
  justify-content: center;
}

.quote__wrapper {
  width: 72vw;
  max-width: 1030px;
  height: 400px;

  background: #17c2ec;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 50px;
}

.quote__title {
  margin-top: 70px;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-align: center;

  color: #ffffff;
}

.quote__subtitle {
  margin-top: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #ffffff;
}

.quote__form {
  margin-top: 40px;
  display: flex;
  width: 549px;
  height: 75px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: rgba(0, 0, 0, 0.25);
}

.quote__input-email {
  flex-grow: 1;
  border-radius: 30px 0 0 30px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  padding-left: 40px;

  color: rgba(0, 0, 0, 0.25);
  border: none;
}

.quote__send-btn {
  width: 100px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;

  background: #0b153c;
  border-radius: 0 30px 30px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.page__footer {
  padding: 327px 70px 123px;
  position: relative;
  height: 500px;
  background: #0b153c;
}

.footer__wrapper {
  height: 69px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.footer__social {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.footer__social .icon:not(:last-of-type) {
  margin-left: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  html {
    font-size: 13px;
  }

  .btn {
    height: 64px;
    width: 175px;
    border-radius: 20px;

    font-size: 20px;
    line-height: 24px;
    padding: 0;
  }

  .page__header {
    padding: 0 50px;
  }

  .header__logo {
    font-size: 25.498px;
    line-height: 31px;
  }

  .header__logo::after {
    width: 80px;
  }

  .page__header .nav-bar {
    display: none;
  }

  .promo {
    padding-top: 95px;
    height: auto;
  }

  .promo__wrapper {
    padding: 0 50px;
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .promo__content-wrapper {
    max-width: 502px;
  }

  .promo__header {
    margin-top: 20px;
  }

  .promo__information {
    margin-top: 40px;
  }

  .promo__buttons-block .btn {
    max-width: 175px;
    border-radius: 20px;
    height: 64px;
  }

  .promo__visual-wrapper {
    margin-top: 55px;
    padding: 0 74px 0;
  }

  .promo__image {
    background-color: var(--color-blue);
    border-radius: 43px;
    margin: 0;
    width: 100%;
    object-fit: contain;
  }

  .promo__aside-image-wrapper--left {
    left: 74px;
  }

  .promo__aside-image-wrapper--right {
    right: calc(-100px + 74px);
  }

  .specialists {
    height: 100px;
    width: 374px;
    left: 74px;
    transform: translate(-50px, 46px);
    padding: 20px;
  }

  .specialists__item--image:not(:first-of-type) {
    margin-left: -3px;
  }

  .specialists__photo {
    border-radius: 10px;
    height: 60px;
    width: 60px;
  }

  .specialists__item--info {
    font-size: 24px;
  }

  .promo__schedule {
    grid-row: 3/4;
    grid-column: 1/2;
    position: relative;
    margin-top: 85px;
  }

  .schedule__title {
    font-size: 24px;
    line-height: 29px;

    top: 0;
  }

  .promo__schedule-wrapper {
    height: auto;
    flex-direction: column;
    padding: 20px 50px 45px;
  }

  .schedule__form {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    grid-template-columns: auto auto;
  }

  .schedule__label {
    min-width: 290px;
    column-gap: 20px;
    font-size: 20px;
    grid-template-columns: 50px 1fr;
    line-height: 24px;
    height: 54px;
  }

  .promo .icon {
    height: 50px;
    width: 50px;
    padding: 10px;
  }

  .schedule__submit-btn {
    width: 253px;
    margin-left: 0;
    font-size: 20px;
  }

  .vaccine-types {
    height: 80px;
    padding: 10px 50px;
  }

  .vaccine-types__list {
    gap: 24px;
  }

  .results {
    padding: 57px 50px;
  }

  .results__wrapper {
    padding-bottom: 45px;
  }

  .results__title {
    font-size: 20px;
    line-height: 1;
    padding: 18px 99px 13px;
  }

  .results__form {
    flex-direction: column;
    padding: 40px 110px 0;
  }

  .results__input {
    width: 100%;
    font-size: 20px;
  }

  .results__info {
    margin: 50px 65px 0;
  }

  .results__info-wrapper {
    padding: 14px 0;
    border-radius: 20px;
    font-size: 14px;
    height: 50px;
  }

  .wgv {
    padding: 58px 70px 45px;
    height: auto;
    gap: unset;
  }

  .wgv__title {
    flex-direction: column;
  }

  .wgv__header {
    width: 100%;
    font-size: 36px;
  }

  .wgv__description {
    margin-top: 74px;
    width: 85%;

    font-size: 19.9584px;
    line-height: 24px;
  }

  .wgv__list {
    margin-top: 50px;
    gap: 30px;
    justify-content: flex-start;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
  }

  .wgv__sublist {
    justify-content: flex-start;
    gap: 30px;
  }

  .wgv__list-item.wgv__list-item--primary {
    grid-column: 1 / span 2;
    /* gr */
  }

  .wgv__list-item {
    width: 296px;
    height: 290px;
    padding: 20px 15px 24px 20px;

    font-size: 20px;
    line-height: 24px;
  }

  .list-item__description {
    margin-top: 30px;
    max-width: 352px;
    font-size: 17.9626px;
    line-height: 22px;
  }

  .list-item__next {
    margin-top: 40px;
    display: flex;
    align-items: Center;
  }

  .wgv .wgv__readmore {
    font-size: 14px;
    line-height: 17px;
  }

  .wgv__readmore-icon {
    height: 30px;
    width: 30px;
  }

  .get-vaccine {
    height: auto;
    padding: 40px 57px 49px;
  }

  .get-vaccine__wrapper {
    flex-direction: column;
    width: 100%;
    grid-template-areas:
      "header"
      "visual"
      "content";
    justify-content: center;
  }

  .get-vaccine__header {
    margin-top: 0;
    max-width: 450px;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.23;
    text-align: left;
  }

  .get-vaccine__form {
    /* max-width: none; */
    width: 100%;
  }

  .get-vaccine__fullname-label {
    margin-top: 70px;
    font-size: 20px;
    line-height: 24px;
  }

  .get-vaccine__phone-label {
    margin-top: 40px;
    font-size: 20px;
    line-height: 24px;
  }

  .get-vaccine__phone-description {
    font-size: 20px;
    line-height: 24px;
  }

  .get-vaccine__phone-wrapper {
    display: flex;
    gap: 20px;
  }

  .get-vaccine__verify-btn {
    width: 200px;
    height: 70px;
    flex-shrink: 0;
  }

  .get-vaccine__input {
    width: 100%;
    margin-top: 20px;
    height: 70px;
    border-radius: 20px;
    font-size: 20px;
  }

  .get-vaccine__submit-btn {
    margin-top: 40px;
    width: 100%;
  }

  .get-vaccine__check-status {
    width: 100%;
    margin: 40px auto 0;
    font-size: 14px;
    line-height: 17px;
    justify-content: center;
    gap: 46px;
  }

  .get-vaccine__visual {
    width: 380px;
    height: 550px;
    margin-left: 21px;
    margin-top: 65px;
  }

  .get-vaccine__visual-title {
    width: 97px;
    font-size: 20px;
    line-height: 24px;
  }

  .get-vaccine__img-covid {
    width: 98px;
    height: 98px;
  }

  .get-vaccine__verify-status-btn {
    width: 200px;
    font-size: 20px;
    line-height: 24px;
  }

  .symptoms {
    height: auto;
  }

  .symptoms__wrapper {
    background: url("./img/symptoms-main.png") center bottom / 458px no-repeat;
    padding: 0;
  }

  .symptoms__subtitle {
    margin-top: 40px;

    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }

  .symptoms__title {
    margin-top: 10px;
    font-size: 36px;
    line-height: 44px;
  }

  .symptoms__description {
    margin-top: 40px;
    font-size: 18px;
    line-height: 22px;
    max-width: 553px;
  }

  .symptoms__list {
    height: 343px;
    margin-top: 43px;

    max-width: 1000px;
    padding: 0 22px 44px;
    column-gap: max(20%, 55px);
    row-gap: 22px;
  }

  .symptoms__list-col {
    height: 45px;
    line-height: 1;
    font-size: 18px;
    width: 260px;
    padding-left: 40px;
    padding-right: 5px;
    width: clamp(250px, 33%, 270px);
    border-radius: 10px;
  }

  .symptoms__list-col:before {
    height: 65px;
    width: 65px;
    top: -10px;
    left: -20px;
  }

  .symptom_high-fever {
    justify-self: end;
    grid-row: 1;
  }
  .symptom_loss-of-sense-of-taste {
    justify-self: start;
    grid-row: 1;
  }
  .symptom_dry-cough {
    justify-self: center;
    grid-column: 1;
    grid-row: 2;
  }
  .symptom_difficulty-breathing {
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
  }
  .symptom_loss-sense-of-smell {
    justify-self: start;
    grid-row: 3;
  }
  .symptom_sore-throat {
    justify-self: end;
    grid-row: 3;
  }

  .feedback {
    height: auto;
    padding: 0 30px 158px;
  }

  .feedback__title {
    margin-top: 46px;

    font-size: 20px;
    line-height: 24px;
  }

  .feedback__subtitle {
    margin-top: 20px;
    font-size: 36px;
    line-height: 44px;
  }

  .feedback__list-wrapper {
    margin-top: 40px;
  }

  .feedback__description {
    font-size: 18px;
    line-height: 22px;
    max-width: 580px;
  }

  .feedback__list {
    margin-top: 16px;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .feedback__list-item {
    height: 305px;
  }

  .feedback__card {
    margin-top: 0;
  }

  .card {
    height: 250px;
    padding: 30px 30px 44px;
  }

  .card__header {
    grid-template-columns: 70px auto;
    column-gap: 20px;
  }

  .card__image {
    border-radius: 20px;
  }

  .card__name {
    font-size: 20px;
    line-height: 24px;
  }

  .card__place {
    font-size: 14px;
    line-height: 17px;
  }

  .card__text {
    margin-top: 40px;

    font-size: 18px;
    line-height: 22px;
  }

  .quote {
    padding: 30px 12px;
    background: rgba(196, 196, 196, 0.15);
    border-radius: 20px;

    bottom: -188px;
  }

  .quote__wrapper {
    width: 85vw;
    max-width: 659px;
    height: 263px;
    border-radius: 20px;
    padding: 16px 48px 56px;
  }

  .quote__title {
    margin-top: 0;
    font-size: 36px;
    line-height: 44px;
  }

  .quote__subtitle {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
  }

  .quote__form {
    margin-top: 24px;
    width: 100%;
    max-width: 549px;
    padding: 0 23px;
    height: 40px;
  }

  .quote__input-email {
    font-size: 20px;
    border-radius: 20px 0 0 20px;
    height: 75px;
  }

  .quote__send-btn {
    width: 100px;
    height: 75px;
    padding: 10px 23px 11px;
    border-radius: 0 20px 20px 0;
  }

  .quote .icon-send {
    width: 40px;
  }

  .page__footer {
    height: 500px;
    padding: 270px 50px 50px;
  }

  .footer__wrapper {
    height: auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .footer__logo {
    position: relative;
    font-size: 25.5px;
    line-height: 31px;
  }

  .page__footer .nav-bar {
    margin-top: 40px;
    flex-direction: column;
    align-items: flex-start;
  }

  .page__footer .nav-bar__list {
    gap: 25px;
  }
  .nav-bar__item {
    line-height: 1;
  }

  .nav-link {
    font-size: 20px;
    line-height: 1;
  }

  .nav-link--active {
    display: inline-block;
  }

  .footer__social {
    margin-top: 40px;
    margin-left: 0;
    gap: 0;
  }

  .footer__social .icon {
    width: 32px;
    height: 32px;
  }

  .footer__social .icon:not(:last-of-type) {
    margin-left: 7px;
  }
}

/*  DIALOG STYLES  */
html,
body {
  scrollbar-gutter: stable;
}

.scroll-lock {
  overflow: hidden;
}

.dialog-is-scheduled {
  background-color: var(--color-body-bg);
  color: white;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 20px;
}

.modal-dialog__title {
  font-size: 40px;
  font-weight: 600;
}

.modal-dialog__content {
  margin-top: 40px;
}

dialog[open] {
  animation: myFadeIn 1s ease normal;
}

@keyframes myFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialog-is-scheduled form {
  max-width: 50vw;
  min-width: 200px;
  height: 300px;
  position: relative;
  padding: 20px;
}

/* .openModal-btn, */
.modal-dialog__close-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 160px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog__wrapper {
  padding: 1em;
}
