:root {
  --color-blue: #17c2ec;
  --color-black: #000000;
  --color-dark-blue: #0b153c;
  --color-btn--primary: white;
  --color-btn--inactive: rgba(196, 196, 196, 0.1);
  --color-link--active: #ffffff;
  --color-link--inactive: rgba(255, 255, 255, 50%);
  --color-text--primary: #ffffff;
  --color-text--secondary: rgba(255, 255, 255, 0.7);
}

@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  color: var(--color-text--secondary);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
}

html {
  font-size: 16px;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 20px;
  height: 69px;

  background-color: var(--color-btn--inactive);
  color: var(--color-btn--primary);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}

.btn-primary {
  background: var(--color-blue);
  color: var(--color-text--primary);
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.page * {
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}

/* .page {
  background-color:rgba(11,19,67,255);
} */

.page__wrapper {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

.page__header {
  padding: 0 70px;
  position: absolute;
  top: 41px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo,
.footer__logo {
  height: 44px;
  align-self: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;

  color: var(--color-text--primary);
}

.header__logo::before,
.footer__logo::before {
  /* Line 1 */
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 15px;
  height: 1px;
  width: 100px;

  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  flex: 1;
}

.nav-bar__list {
  list-style-type: none;
  display: flex;
  gap: min(2vw, 25px);
  justify-content: center;
  flex: 1;
}

.nav-bar__item {
  display: inline-block;
  font-weight: 500;
  line-height: 1.81;

  color: var(--color-link--inactive);
}

.nav-link {
  color: var(--color-link--inactive);
  font-style: normal;
  font-weight: 500;
}

.nav-link--active {
  font-weight: 700;
  color: var(--color-link--active);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page__header .nav-link--active:after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--color-blue);
  border-radius: 50%;
}

.check-status-btn {
  margin-left: 31px;

  width: 219px;
  height: 69px;

  background: var(--color-btn--inactive);
  border-radius: 20px;

  font-weight: 700;
  font-size: 1.5rem;
  padding: 20px 26px;
  text-align: center;

  color: var(--color-blue);
  border: none;
}

.promo {
  padding-top: 110px;
  background: url("./img/home-background.jpg") center / cover no-repeat;
  height: 1024px;
}

.promo__wrapper {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 70px;
  column-gap: 74px;
}

.promo__content-wrapper {
  width: 603px;
}

.promo__slogan {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;

  color: var(--color-blue);
}

.promo__header {
  margin-top: 40px;
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.23;
  color: var(--color-text--primary);
}

.promo__link,
.promo__link:visited {
  color: var(--color-blue);
}

.promo__information {
  margin-top: 50px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;

  color: rgba(255, 255, 255, 0.7);

  color: var(--color-text--secondary);
}

.promo__buttons-block {
  margin-top: 51px;
  display: flex;
  gap: 20px;
}

.promo__buttons-block .btn {
  width: 200px;
  height: 69px;
}

.promo__help-centre-btn {
  color: var(--color-text--primary);
  background: rgba(196, 196, 196, 0.1);

  border: 2px solid #17c2ec;
  border-radius: 20px;

  width: 200px;
  height: 69px;

  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}

.promo__visual-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-bottom: 93px;
}

.promo__image {
  display: block;
  margin: 0 auto;
  width: 532px;
}

.promo__aside-image-wrapper {
  position: absolute;
  bottom: 327px;
  height: 100px;
  width: 100px;

  background: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo__aside-image-wrapper--left {
  left: -10px;
}

.promo__aside-image-wrapper--right {
  right: 0;
}

.specialists {
  height: 100px;
  bottom: 0;
  transform: translate(-10px, -46px);
  width: 374px;
  position: absolute;
  padding: 20px;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 20px;
}

.specialists__list {
  display: flex;
}

.specialists__item--image:not(:first-of-type) {
  margin-left: -7px;
}

.specialists__item--info {
  margin-left: 20px;
  font-weight: 700;
  font-size: 1.5rem;

  color: var(--color-blue);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.specialists__count {
  color: var(--color-text--primary);
}

.specialists__item img {
  border-radius: 10px;
}

.promo__schedule {
  grid-row: 2/3;
  grid-column: 1/3;

  position: relative;
}

.schedule__title {
  font-weight: 700;
  font-size: 1.5rem;

  color: var(--color-text--primary);
  position: absolute;
  top: -70px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.promo__schedule--wrapper {
  height: 160px;
  background: rgba(196, 196, 196, 0.1);
  border-radius: 20px 20px 0px 0px;
  padding: 46px 40px;

  box-shadow: rgba(196, 196, 196, 0.05) 0 -10px 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.schedule__form {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
}

.schedule__label {
  height: 58px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 20px;

  color: var(--color-link--inactive);
}

.promo .icon {
  height: 50px;
  width: 50px;
  background-color: var(--color-btn--inactive);
  padding: 10px;
  grid-row: 1/3;
  align-self: center;
  border-radius: 10px;
}

.input-substitution {
  color: var(--color-text--primary);
  font-weight: 700;
}

.schedule__submit-btn {
  margin-left: auto;
  width: 142px;
}

.vaccine-types {
  padding: 0 70px;
  height: 150px;
}

.vaccine-types__list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.results {
  background: url(./img/home-background.jpg) center right;
  height: 466px;
  padding: 62px 70px;
}

.results__wrapper {
  display: grid;

  background: rgba(196, 196, 196, 0.1);
  border-radius: 20px;

  padding-bottom: 31px;
}

.results__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding: 36px 93px;
  color: var(--color-text--primary);

  background: rgba(196, 196, 196, 0.05);
  border-radius: 20px 20px 0px 0px;
}

.results__form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 36px 93px;
}
.results-btn,
.results__input {
  border: 3px solid var(--color-blue);
  border-radius: 20px;

  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
}

.results__input {
  height: 69px;
  width: 450px;
  padding: 20px 25px;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  background-color: transparent;
  color: #ffffff;

  border-radius: 20px;
  border: 3px solid rgba(196, 196, 196, 0.15);
}

.results__input:focus {
  border: 3px solid #17c2ec;
  outline: none;
}

.results-btn {
  color: var(--color-blue);
  width: 172px;
}

.results__info-wrapper {
  padding: 20px 174px;

  background: rgba(196, 196, 196, 0.05);
  border-radius: 20px;

  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;

  color: var(--color-blue);

  width: 1113px;
  height: 70px;
  margin: 0 auto;
}

.results__info-wrapper .results__link {
  color: var(--color-blue);
  text-decoration: underline;
  text-align: center;
}

.wgv {
  background: url(./img/home-background.jpg) center / cover no-repeat;
  padding: 58px 71px 80px;
  height: 795px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.wgv__title {
  display: flex;
  justify-content: space-between;
}

.wgv__header {
  width: 504px;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.62rem;

  color: #ffffff;
}
.wgv__description {
  width: 536px;
  text-align-last: left;

  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;

  color: rgba(255, 255, 255, 0.5);
}

.wgv__list {
  display: flex;
  gap: min(1%, 74px);
  justify-content: space-between;
  align-items: flex-end;
}

.wgv__list-item {
  width: 350px;
  height: 350px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  padding: 40px 40px 58px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wgv__list-item--primary {
  width: 450px;
  height: 500px;

  background: rgba(196, 196, 196, 0.2);
  border-radius: 49.896px 149.688px 49.896px 49.896px;
}

.wgv__icon-wrapper {
  height: 70px;
  width: 70px;

  filter: drop-shadow(0px 2.79418px 2.79418px rgba(0, 0, 0, 0.1));

  background: rgba(196, 196, 196, 0.1);
  border-radius: 20.9563px;

  border: 3px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wgv__list-item--primary .wgv__icon-wrapper {
  width: 100px;
  height: 100px;

  background: rgba(196, 196, 196, 0.1);
  border-radius: 30px;
  border: none;
}

.wgv__icon {
  width: 50px;
  height: 50px;
}

.wgv__list-item--primary .wgv__icon {
  width: 70px;
  height: 70px;
}

.list-item__title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.81rem;
}

.list-item__title--primary {
  color: #17c2ec;
}

.list-item__description {
  margin-top: 30px;

  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.list-item__next {
  margin-top: 40px;
  display: flex;
  align-items: Center;
}

.wgv .wgv__readmore {
  font-weight: 700;
  font-size: 17.9626px;
  line-height: 22px;
  /* identical to box height */

  color: #17c2ec;
  display: flex;
  align-items: Center;
  gap: 10px;
}

.wgv .wgv__readmore--primary {
  color: var(--color-blue);
}

.get-vaccine {
  height: 750px;
  color: black;
  padding: 0 72px 40px;
}

.get-vaccine__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.get-vaccine__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.get-vaccine__header {
  margin-top: 40px;
  max-width: 450px;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.23;
  text-align: center;
}

.get-vaccine__form {
  display: flex;
  flex-direction: column;
  max-width: 657px;
  font-size: 1.5rem;
  line-height: 1.2;
}

.get-vaccine__fullname-label,
.get-vaccine__phone-label {
  font-weight: 700;
}
.get-vaccine__fullname-label {
  margin-top: 40px;
}
.get-vaccine__phone-label {
  margin-top: 39px;
}
.get-vaccine__phone-description {
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.get-vaccine__phone-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 36px;
}

.get-vaccine__verify-btn {
  padding: 20px 70px;
}

.get-vaccine__input {
  margin-top: 20px;
  display: block;
  width: 650px;
  height: 70px;
  background: rgba(11, 21, 60, 0.15);
  border-radius: 20px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 20px 30px;
  border: 3px solid rgba(11, 21, 60, 0.15);
}

.get-vaccine__input:focus {
  border: 3px solid #17c2ec;
}

.get-vaccine__submit-btn {
  margin-top: 40px;
  display: block;
  width: 100%;
}

.get-vaccine__check-status {
  margin: 40px auto;
  display: flex;
  width: 443px;
  justify-content: space-between;

  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.get-vaccine .get-vaccine__check-status-link {
  color: var(--color-blue);
}

.get-vaccine__visual {
  align-self: center;
  height: 550px;
  width: 380px;
  background: #0b153c;
  border-radius: 20px;
  border: 1px solid black;
}

.get-vaccine__visual-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: url("./img/get-vaccine__background.png") center bottom / contain
    no-repeat;
  padding: 40px 90px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.get-vaccine__visual-title {
  color: var(--color-text--primary);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.81;
  text-align: center;
}

.get-vaccine__img-covid {
  position: absolute;
  left: -21px;
  top: -25px;
}

.get-vaccine__verify-status-btn {
  padding: 13px 33px;
  font-size: 1.25rem;
}

.symptoms {
  height: 981px;
  background: url("./img/home-background.jpg") center / cover no-repeat;
}

.symptoms__wrapper {
  height: 100%;
  background: url("./img/symptoms-main.png") center bottom no-repeat;
  padding: 67px 45px 61px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.symptoms__subtitle {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.81rem;

  color: #ffffff;
}
.symptoms__title {
  margin-top: 20px;
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.69rem;

  color: #ffffff;
}

.symptoms .accent {
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.69rem;

  color: var(--color-blue);
}

.symptoms__description {
  margin-top: 40px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.81rem;
  text-align: center;

  color: var(--color-link--inactive);
  max-width: 952px;
}
.symptoms__list {
  margin-top: 179px;
  height: 465px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 98px;
}
.symptoms__list-row {
  display: flex;
  justify-content: space-between;
}

.symptoms__list-row:first-of-type {
  width: 1152px;
}

.symptoms__list-row:nth-of-type(2) {
  width: 1267px;
}

.symptoms__list-row:nth-of-type(3) {
  width: 1350px;
}

.symptoms__list-col {
  min-width: 300px;
  height: 70px;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 10px;

  font-weight: 600;
  font-size: 1.25rem;
  line-height: 70px;
  text-align: center;

  padding-right: 33px;
  padding-left: 100px;

  color: var(--color-blue);
  position: relative;
}

.symptoms__list-col:before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  left: -15px;
  top: -15px;
  background: url("./img/coronavirus-2996952-2495219.png") center / contain
    no-repeat;
}

.feedback {
  height: 934px;
  padding: 57px 67px;
  background: url("./img/feedback-background.jpg") center / cover no-repeat,
    rgba(255, 255, 255, 0.5);
  position: relative;
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.81rem;
  text-align: center;

  color: var(--color-blue);
}

.feedback__subtitle {
  margin-top: 20px;
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.69rem;
  text-align: center;

  color: #000000;
}

.feedback__list-wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__description {
  width: 952px;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;

  color: rgba(0, 0, 0, 0.5);
}

.feedback__list {
  margin-top: -58px;
  display: flex;
  gap: 53px;
}

.feedback__list-item {
  height: 480px;
  background: url(./img/feedback-ampoule.png) center / contain no-repeat;
  display: flex;
  justify-content: center;
  align-items: Center;
}

.feedback__card {
  margin-top: 100px;
}

.card {
  width: 400px;
  height: 250px;
  padding: 30px 33px 44px 33px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_blue {
  background: var(--color-blue);
}

.card_blue .card__name {
  color: #ffffff;
}

.card_blue .card__place,
.card_blue .card__text {
  color: rgba(255, 255, 255, 0.75);
}

.card__header {
  display: grid;
  grid-template-columns: 70px auto;
  column-gap: 21px;
  align-items: end;
}

.card__image-wrapper {
  grid-column: 1/2;
  grid-row: 1/3;
}

.card__image {
  border-radius: 20px;
}

.card__name {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.81rem;
  /* text-align: center; */

  color: #000000;
}

.card__place {
  margin-top: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  align-self: start;

  color: rgba(0, 0, 0, 0.5);
}

.card__text {
  margin-top: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: rgba(0, 0, 0, 0.6);
}

.card__text .accent {
  color: var(--color-blue);
}

.page__footer {
  width: 1440px;
  height: 500px;

  background: #0b153c;
}

.quote {
  z-index: 10;
  bottom: -202px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;

  width: 1031px;
  height: 400px;

  background: #17c2ec;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 0 0px 18px rgba(196, 196, 196, 0.15);
  border-radius: 50px;
}

.quote__title {
  margin-top: 70px;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-align: center;

  color: #ffffff;
}

.quote__subtitle {
  margin-top: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #ffffff;
}

.quote__form {
  margin-top: 40px;
  display: flex;
  width: 549px;
  height: 75px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: rgba(0, 0, 0, 0.25);
}

.quote__input-email {
  flex-grow: 1;
  border-radius: 30px 0 0 30px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  padding-left: 40px;

  color: rgba(0, 0, 0, 0.25);
  border: none;
}

.quote__send-btn {
  width: 100px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;

  background: #0b153c;
  border-radius: 0 30px 30px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.page__footer {
  padding: 327px 70px 123px;
  position: relative;
}

.footer__wrapper {
  height: 69px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.footer__social {
  margin-left: 162px;
  display: flex;
  gap: 10px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .page__wrapper {
    width: 100%;
  }

  html {
    font-size: 8px;
  }

  .btn {
    height: 50px;
    width: 150px;
    border-radius: 10px;
  }

  /* OK */
  .page__header {
    padding: 0 35px;
  }

  /* OK */
  .nav-bar {
    display: none;
  }

  /* OK */
  .check-status-btn {
    display: none;
  }

  /* OK */
  .promo {
    padding-top: 85px;
    height: auto;
  }

  /* OK */
  .promo__wrapper {
    margin-top: 32px;
    padding: 0 35px;
    grid-template-columns: 1fr;
  }

  /* OK */
  .promo__content-wrapper {
    max-width: none;
    width: 100%;
  }

  /* OK */
  .promo__header {
    margin-top: 20px;
  }

  /* OK */
  .promo__information {
    margin-top: 20px;
  }

  /* OK */
  .promo__buttons-block {
    /* OK */
    margin-top: 40px;
    gap: 20px;
  }

  /* OK */
  .promo__buttons-block .btn {
    width: auto;
    max-width: 138px;
    border-radius: 20px;
    height: 50px;
    flex-grow: 1;
  }

  /* OK */
  .promo__visual-wrapper {
    /* OK */
    margin-top: 50px;
    padding: 0 25px 34px;
  }

  /* OK */
  .promo__image {
    /* OK */
    background-color: var(--color-blue);
    border-radius: 21px;
    margin: 0;

    width: 100%;
  }

  /* OK */
  .promo__aside-image-wrapper {
    /* OK */
    bottom: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 10px;
  }

  /* OK */
  .promo__aside-image-wrapper--left {
    left: 0;
  }

  /* OK */
  .promo__aside-image-wrapper--right {
    right: 0;
  }

  /* OK */
  .promo__aside-image {
    width: 100%;
  }

  /* OK */
  .specialists {
    /* OK */
    height: 69px;
    width: 238px;
    transform: translateX(-25px);
    position: absolute;
    padding: 15px 20px;
  }

  /* OK */
  .specialists__item--image:not(:first-of-type) {
    margin-left: -3px;
  }

  /* OK */
  .specialists__photo {
    border-radius: 6px;
    height: 39px;
    width: 39px;
  }

  /* OK */
  .promo__schedule {
    /* OK */
    grid-row: 3/4;
    grid-column: 1/2;
    position: relative;
    margin-top: 143px;
  }

  /* OK */
  .schedule__title {
    /* OK */
    font-size: 1.75rem;
  }

  /* OK */
  .promo__schedule-wrapper {
    /* OK */
    height: 100%;
    flex-direction: column;
    padding: 20px 10px 10px;
  }

  /* OK */
  .schedule__form {
    /* OK */
    flex-direction: column;
    gap: 14px;
  }

  /* OK */
  .schedule__label {
    /* OK */
    column-gap: 10px;
    font-size: 14px;
    grid-template-columns: 30px 1fr;
    line-height: 1;
    height: 34px;
  }

  /* OK */
  .promo .icon {
    /* OK */
    height: 30px;
    width: 30px;
    padding: 5px;
  }

  /* OK */
  .schedule__submit-btn {
    /* OK */
    width: 150px;
    height: 50px;
    margin-left: 0;
    font-size: 14px;
  }

  /* OK */
  .vaccine-types {
    height: 39px;
  }

  /* OK */
  .vaccine-types__list {
    gap: 10px;
  }

  /* OK */
  .results {
    height: auto;
    padding: 84px 35px 32px;
  }

  /* OK */
  .results__wrapper {
    display: flex;
    flex-direction: column;
  }

  /* OK */
  .results__title {
    font-size: 1.125rem;
    line-height: 1;
    padding: 14px 30px;
  }

  /* OK */
  .results__form {
    flex-direction: column;
    padding: 21px 14px 48px;

  }

  /* OK */
  .results-btn,
  .results__input:focus {
    border: 3px solid var(--color-blue);
  }

  /* OK */
  .results__input {
    font-size: 1.5rem;
    line-height: 1;
    width: 100%;
    padding: 20px 25px;
    font-weight: 500;
  }

  /* OK */
  .results-btn {
    width: 130px;
    font-size: 14px;
  }

  /* OK */
  .results__info {
    padding: 0 14px;
  }

  /* OK */
  .results__info-wrapper {
    padding: 13px 23px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.125rem;
  }

  /* OK */
  .wgv {
    padding: 42px 35px;
    height: auto;
    gap: unset;
  }

  /* OK */
  .wgv__title {
    flex-direction: column;
  }

  /* OK */
  .wgv__header {
    width: 100%;
  }

  /* OK */
  .wgv__description {
    margin-top: 17px;
    font-size: 14px;
    width: 100%;
    line-height: 17px;
  }

  /* OK */
  .wgv__list {
    margin-top: 40px;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }

  /* OK */
  .wgv__list-item {
    width: 50vw;
    height: auto;
    padding: 20px 15px 24px 20px;
    border-radius: 20px;
    font-size: 14px;
  }

  /* OK */
  .wgv__list-item--primary {
    width: 276px;
    height: 280px;

    background: rgba(196, 196, 196, 0.2);
    border-radius: 20px 80px 20px 20px;
  }

  /* OK */
  .wgv__icon-wrapper {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
    padding: 20px 20px 30px;
  }

  /* OK */
  .wgv__list-item--primary .wgv__icon-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  /* OK */
  .wgv__icon,
  .wgv__list-item--primary .wgv__icon {
    width: 30px;
    height: 30px;
  }

  /* OK */
  .list-item__title {
    margin-top: 30px;
  }

  /* OK */
  .list-item__title--primary {
    width: 172px;
  }

  /* OK */
  .list-item__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  /* OK */
  .list-item__next {
    margin-top: 21px;
    display: flex;
    align-items: Center;
  }

  /* OK */
  .wgv .wgv__readmore {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 17px;
  }

  /* OK */
  .wgv .wgv__readmore--primary {
    color: var(--color-blue);
  }

  /* OK */
  .wgv__readmore-icon {
    height: 20px;
    width: 20px;
  }
  
}
