:root {
  --color-active: #ffffff;
  --color-blue: #17c2ec;
  --color-btn--primary: white;
  --color-btn--inactive: rgba(196, 196, 196, 0.1);
  --color-black: #000000;
  --color-dark-blue: #0b153c;
  --color-link--active: #ffffff;
  --color-link--inactive: rgba(255, 255, 255, 50%);
  --color-text--secondary: rgba(255, 255, 255, 0.7);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.page * {
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}

.page__wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.page__header {
  padding: 0 70px;
  position: fixed;
  top: 41px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.22;

  color: var(--color-active);
}

.header__logo::before {
  /* Line 1 */
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 10px;
  height: 1px;
  width: 100px;

  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
}

.nav-bar {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 1.5rem;
}

.nav-bar__list {
  list-style-type: none;
  display: flex;
  gap: 25px;
}

.nav-bar__item {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  line-height: 1.81;

  color: var(--color-inactive-link);
}

.nav-link {
  color: var(--color-inactive-link);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
}

.nav-link--active {
  color: var(--color-active-link);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.nav-link--active:after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--color-blue);
  border-radius: 50%;
}

.check-status-btn {
  margin-left: 181px;

  width: 219px;
  height: 69px;

  background: var(--color-inactive-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-weight: 700;
  font-size: 1.5rem;
  padding: 20px 26px;
  text-align: center;

  color: var(--color-blue);
  border: none;
}
